body {
	width:960px;
	margin:7em auto;

}


header {
	background:#ebebeb;
	padding:20px;
	margin-bottom:20px;
	text-align: center;


}

nav {
	background:#ebebeb;
	padding:20px;
	margin-bottom:20px;
	text-align: center;
	clear:both;

}

#first {
	background:#ebebeb;
	text-align:center; 
	width:495px;
	height:300px;
	float:left;

}

#second {
	background:#777;
	text-align:center;
	height:200px;
	width:400px;
	padding:10px;
	margin-left:1.5em;

	

}

#third {
	background:#ebebeb;
	text-align:center;
	width:350px;
	height:50px;
	margin-left:2em;
	margin-bottom: 3em;


	}

#fourth {
	background:#ebebeb;
	text-align:center;
	width:350px;
	margin-top: 3em;
	height:50px;
	
}



#fourth p {
	margin-top: 1em;
}

#fifth {
	background:#ebebeb;
	float:right;
	width:440px;
	height:300px;
	margin-bottom: 20px;
	text-align: center;

}

footer {
	clear:both;
	background:#ebebeb;
	padding:20px;
	text-align:center;
}

p {
	font-size: 18px;
	font-family:"arial","Helvetica Neue",Helvetica,sans-serif;
}